# Entornos Virtuales y Cachés
.venv/
.pytest_cache/
__pycache__/
*.pyc

# Archivos de Editor y Herramientas
.vscode/
.coverage

# Archivos de Salida y Logs
out/
*.log

# Archivos de Configuración Local y Secreta
*.env

# Archivos de datos
data/bueno.csv
data/default.csv
data/malo.csv